---
- name: Modify pg_hba.conf for postgres user
  include_tasks: "postgres_user.yml"

- name: Create user for replication and modife pg_hba.conf for replica and master hosts
  include_tasks: "replica_user.yml"


