---
- name: Install pip
  apt:
    name: "{{  item  }}"
    update_cache: true
    state: latest
  loop:
    - pip

- name: Install python packages
  pip:
    name: "{{  item  }}"
    state: present
  loop:
    - psycopg2-binary
